[Desktop Entry]
Encoding=UTF-8
Name=Arboreta
# these two need to be the path to the session manager file
Exec=/home/arathnim/repos/arboreta-core/arboreta-repl.sh
TryExec=/home/arathnim/repos/arboreta-core/arboreta-repl.sh